<style>
   .local-generic {
      max-width: 450px;
      padding: 10px;
      margin: 4rem auto;
      font-family: sans-serif;
      font-size: 13px;
   }
   .frame-color {
      padding: 10px;
      border: 1px solid #eaecef;
      border-radius: 5px;
      background-color: #f6f8fa;
   }
</style>

<div class="container local-generic">

   <!-- Titolo -->
   <div class="text-center">
      <h1>Gestione registrazione</h1>
   </div>

   <!-- Form -->
   <form id="submit" method="post" action="/access-problem">
      <input type="text" name="_method" id="_method" hidden>

      <!-- Indirizzo e-mail & Frase di sicurezza -->
      <div class="form-group frame-color">
         <div>
            <label for="email" class="fw-bold">Indirizzo e-mail</label>
            <input class="form-control mt-1" type="email" name="email" id="email" placeholder="nome@example.com"
                   required>
            <div class="invalid-feedback">E' necessario specificare un indirizzo e-mail valido</div>
         </div>
         <div class="mt-3">
            <label for="security" class="fw-bold">Frase di sicurezza</label>
            <input type="password" class="form-control mt-1" name="security" id="security" maxlength="30" required>
            <div class="invalid-feedback">E' necessario specificare una frase di sicurezza</div>
         </div>
      </div>

      <!-- Tipo operazione -->
      <div class="form-group frame-color mt-3">
         <div class="m-2 text-left">
            <div class="form-group form-check">
               <input type="radio" class="form-check-input" name="user" id="reset" onclick="whatOperation(this)"
                      checked>
               <label class="form-check-label" for="reset">Assegna password di default</label>
               <br>
               <input type="radio" class="form-check-input" name="user" id="remove" onclick="whatOperation(this)">
               <label class="form-check-label" for="remove">Cancellare registrazione</label>
            </div>
         </div>
      </div>

      <!-- Pulsanti di comando -->
      <div class="mt-3 d-grid gap-2">
         <button type="button" class="btn btn-success" id="next">Procedi</button>
         <a href="/" class="btn btn-warning">Annulla</a>
      </div>
   </form>

   <!-- Eventuali messaggi -->
   {{> message}}
</div>

<script src="js/hub/access-problem.js"></script>