<style>
   .local-body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 3.5rem;
   }
   .card-container {
      margin-top: 3.5rem
   }
   .card {
      height: 20rem;
      width: 18rem;
      margin: 0.5rem;
   }
</style>

<div class="container-fluid local-body">
   <h1>test</h1>
</div>